footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #BF1E2E;
    color: #fff;
  }
  

  .footer-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 300;
  }
  
  .footer-nav li {
    margin-bottom: 0.5rem;
  }
  
  .footer-icons {
    display: flex;
    gap: 1rem;
    size: 2x;
    color: white;
  }

  .daos-image{
    height: 100px;
  }
  .privacy{
    font-size: 0.75rem;
    font-weight: 100;
    flex-basis: 100%;
  }