.filterWrapper {
  margin: 4rem 0;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
}

.label {
  color: var(--primary-blue);
  font-weight: 600;
  font-size: 14px;
}

.input {
  border: 1px solid var(--grey-border);
  border-radius: 10px;
  padding: 20px 15px;
  transition: border-color 0.3s;
  box-shadow: 0px 2px 4px #00000014;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-blue);
  font-weight: 600;
}

.input::placeholder {
  font-weight: 400;
  color: var(--text-dark-grey);
  font-size: 1rem;
}

.input:focus,
.input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset;
  border: 1px solid var(--primary-blue);
}

.input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

.clearButton {
  padding: 0.2rem 1rem;
  border-radius: var(--small-radius);
  background-color: var(--white);
  color: var(--primary-blue);
  font-weight: 600;
  max-height: 36px;
  font-size: 12px;
  box-shadow: var(--small-shadow);
  border: 1px solid #dddddd;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease-in-out;
}

.clearButton:hover {
  background-color: #f2f2f2;
}

.clearButton:active {
  transform: scale(0.95);
}

.location {
  border: 1px solid var(--grey-border);
  border-radius: 10px;
  padding: 8px 15px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0px 2px 4px #00000014;
  width: 100%;
  margin-top: 0;
}

.location:focus,
.location:-webkit-autofill:focus {
  outline: none;
  box-shadow: 0 0 0px 1000px white inset;
  border: 1px solid var(--primary-blue);
}

.location:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

.dropdown {
    font-weight: 500;
    color: var(--primary-blue);
  }
