.inputWrapper {
  position: relative;
  max-width: 60%;
  margin-bottom: 3rem;
}

.searchInput {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: var(--large-radius);
  outline: none;
  box-sizing: border-box;
  box-shadow: var(--small-shadow);
  margin-top: 0;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1.2rem;
  color: var(--primary-blue);
}

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.total {
    margin-bottom: 20px;
}

.empty {
    color: var(--primary-blue);
    font-size: 1.2rem;
}

.filters {
    display: flex;
    gap: 30px;
}


