@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Oswald:wght@200..700&display=swap');


:root {
  /* Colors */
  --primary-blue: #353a5c;
  --primary-red: #bf1e2e;
  --white: #ffffff;
  --bg-light-grey: #eaebee;
  --text-dark-grey: #777777;
  --hover-blue: #1F2549;
  --grey-border: #DDDDDD;

  /* Font Sizes */

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Border Radius */
  --small-radius: 4px;
  --large-radius: 10px;

  /* Box Shadow */
  --small-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--text-dark-grey);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: clamp(2rem, calc(1.5rem + 2vw), 3.125rem);
  color: var(--primary-red); 
  line-height: calc(3.375rem + 0.375rem); 
  letter-spacing: calc(0.0625rem + 0.0125rem); 
}

h2 {
  font-size: clamp(1.75rem, calc(1.25rem + 1.5vw), 2.375rem);
  color: var(--primary-blue);
  line-height: calc(2.5rem + 0.125rem); 
  letter-spacing: calc(0.031rem + 0.0045rem);
}

h3 {
  font-size: clamp(1.25rem, calc(1rem + 1vw), 1.625rem); 
  color: var(--primary-blue);
  line-height: calc(2.375rem + 0.0625rem);
  letter-spacing: calc(0.02rem + 0.0044rem);
}

button {
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}
