.input, .select {
  border: 1px solid var(--grey-border);
  border-radius: 10px;
  padding: 20px 15px;
  transition: border-color 0.3s;
  box-shadow: 0px 2px 4px #00000014; 
}

.textarea {
    border: 1px solid var(--grey-border);
    border-radius: 10px;
    transition: border-color 0.3s;
    box-shadow: 0px 2px 4px #00000014; 
    padding: 15px;
}

.inputError {
  border-color: #e74c3c;
}

.description {
  font-size: 14px;
  color: var(--grey-text);
  margin: 6px 0;
}

.multiselect {
    border: 1px solid var(--grey-border);
    border-radius: 10px;
    box-shadow: 0px 2px 4px #00000014; 
    padding: 10px;
}

.radioLabel {
    font-size: 1rem;
    color: var(--primary-blue);
    margin-bottom: 10px;
  }

  .input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset; 
  }
  
  .input:focus, .select:focus, .textarea:focus, .input:-webkit-autofill:focus, .textarea:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px white inset;  
    border: 1px solid var(--primary-blue);
  }


