.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.pageButton {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: var(--large-radius);
  background-color: var(--white);
  color: var(--primary-blue);
  cursor: pointer;
  transition: all 0.3s ease;
}

.pageButton:hover {
  background-color: #f5f5f5;
}

.active {
  background-color: var(--primary-blue);
  color: var(--white);
  border-color: var(--primary-blue);
}

.active:hover {
  background-color: var(--primary-blue);
  color: var(--white);
  border-color: var(--primary-blue);
}

.pageButton:disabled {
  background-color: #f5f5f5;
  color: #999;
  border-color: #e6e6e6;
  cursor: not-allowed;
}

.pageButton:active {
  transform: scale(0.95);
  box-shadow: none;
}
