.btn {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: var(--large-radius);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-weight: 600;
    box-shadow: var(--button-shadow);
    border: 1px solid #dddddd;
  }


  .blue {
    background-color: var(--primary-blue);
    color: var(--white);
  }
  
  .blue:hover {
    background-color: var(--hover-blue);
  }
  
  .white {
    background-color: var(--white);
    color: var(--primary-blue);
  }

  .white-slim {
    padding: 0.5rem 2rem;
    border-radius: var(--small-radius);
    background-color: var(--white);
    color: var(--primary-blue);
    font-weight: 700;
    max-height: 40px;
  }
  
  .white:hover {
    background-color: #F2F2F2;
  }

  .transparent {
    background-color: transparent;
    color: var(--primary-blue);
    box-shadow: none;
    border: none;
  }

  .btn:active {
    transform: scale(0.95);
    box-shadow: none; 
  }

  @media (max-width: 1024px) {
    .btn {
      font-size: 0.875rem; 
      padding: 0.5rem 1rem; 
    }
  }


  
  