.button {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  border-radius: var(--small-radius);
  color: black;
  transition: background-color 0.3s;
}
.join {
  background-color: #50c878;
}
.cancel {
  background-color: #FA5F55;
}
