.container {
  margin: 2rem 30vw;
}
.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .container {
    margin: 2rem 15vw;
  }
}
h2 {
  margin-bottom: 0rem;
}
.errorMessage {
  color: var(--primary-red);
}
