
.container {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

.genreTag {
    font-size: 14px;
    color: var(--primary-blue);
    font-weight: 700;
    background-color: var(--bg-light-grey);
    padding: 0.25rem 0.5rem;
    border-radius: var(--small-radius);
    white-space: nowrap;
    display: inline-block;
    width: auto;
    box-sizing: border-box; 
}

.genreTag:last-child {
  margin-right: 0; 
}




